image:
  # also update version in kube-setup/chainspec.yml
  repository: parity/polkadot-parachain
  tag: latest
  pullPolicy: IfNotPresent

initContainer:
  debug: true

node:
  chainData: &chainData
    volumeSize: 2Gi
    storageClass: "standard"
  chainKeystore: &chainKeystore
    mountInMemory:
      enabled: true
      sizeLimit: 10Mi
  chain: statemint
  role: collator
  replicas: 1
  command: "/usr/local/bin/polkadot-parachain"
  # manifests/chainspec.yml
  forceDownloadChainspec: true
  customChainspecUrl:  "http://chainspec.rococo/statemint.json"
  isParachain: true
  collatorRelayChain:
    customChainspecUrl: "http://chainspec.rococo/rococo-local.json"
    chainData: *chainData
    chainKeystore: *chainKeystore
  persistGeneratedNodeKey: true
  allowUnsafeRpcMethods: true

extraLabels:
  paraId: "1003"
  ss58Format: "0" # Polkadot
