<!DOCTYPE html>
<html>
<head>
    <title>{{ network_name.capitalize() }} Parachains</title>
    <link rel="stylesheet" type="text/css" href="/static/libs/datatables.min.css">
</head>

<body>
<h3>{{ network_name.capitalize() }} : {{ paras_count }} Paras: {{ parachain_count }} Parachains, {{ parathread_count }} Parathreads, {{ paras_count -  parachain_count - parathread_count }} Others</h3>
<input type="checkbox" id="selectAll" onclick="window.selectOrUnselectAllParachains(this)">
<label for="selectAll">Select all visible</label>
<button onclick="onboardSelectedParachains(this)">Onboard Selected Parachains</button>
{% if request.query_params['isAdmin'] %}
<button onClick="offboardSelectedParachains(this)">Offboard Selected Parachains</button>
{% endif %}
<input type="checkbox" id="forceQueueAction" checked>
<label for="forceQueueAction">Fast (put action into the next session queue)</label>
<input type="checkbox" id="parathread" >
<label for="parathread">Register a parathread instead of a full para</label>
<table id="table" class="display compact" style="width:100%">
    <thead>
    <tr>
        <th>ParaID</th>
        <th>Name</th>
        <th>Lifecycle</th>
        <th>Location</th>
        <th>Leases</th>
        <th>Runtime</th>
    </tr>
    </thead>
    <tbody>
    {% for para_id in parachains %}
        <tr>
            <td>
                <input type="checkbox" id="para_{{ para_id }}" name="para_id" value="{{ para_id }}" />
                <label for="para_{{ para_id }}"><a href="/collators/{{ para_id }}">{{ para_id }}</a></label>
            </td>
            <td>{{ parachains[para_id]['name'] }} {% if parachains[para_id]['location'] == 'in_cluster' %}<a target="_blank" href="https://grafana.parity-mgmt.parity.io/explore?orgId=1&left=%5B%22now-1h%22,%22now%22,%22loki.parity-testnet%22,%7B%22refId%22:%22A%22,%22expr%22:%22%7Bchain%3D%5C%22{{ parachains[para_id]['name'] }}%5C%22%7D%22%7D%5D">🔎</a>{%  endif %}</td>
            <td>{{ parachains[para_id]['lifecycle'] | default('')}}</td>
            <td>{{ parachains[para_id]['location'] | default('')}}</td>
            <td>{{ parachains[para_id]['leases_count'] | default('') }}</td>
            <td><a target="_blank" href="/parachains/{{ para_id }}/runtime">Runtime info</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script
        src="/static/libs/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="/static/libs/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            // https://datatables.net/reference/option/
            "lengthMenu": [[30, -1], [30, "All"]]
        });

        window.selectOrUnselectAllParachains = (element) => {
            paraInputCheckboxes = document.querySelectorAll('input[name="para_id"]');
            if (element.checked){
                paraInputCheckboxes.forEach((paraInput) => paraInput.checked = true)
            } else {
                paraInputCheckboxes.forEach((paraInput) => paraInput.checked = false)
            }
        }

        window.onboardSelectedParachains = (element) => {
            paraInputCheckboxes = document.querySelectorAll('input[name="para_id"]');
            selectedParaIds =  Array.from(paraInputCheckboxes).filter(input => input.checked).map(input => input.value);
            element.disabled = true
            console.log(`/api/parachains/onboard?${selectedParaIds.map(para_id => "para_id=" + para_id).join("&")}&force=${document.getElementById("forceQueueAction").checked}&parathread=${document.getElementById("parathread").checked}`)
            fetch(`/api/parachains/onboard?${selectedParaIds.map(para_id => "para_id=" + para_id).join("&")}&force=${document.getElementById("forceQueueAction").checked}&parathread=${document.getElementById("parathread").checked}`, {method: "POST"})
                .then(() => {
                    element.textContent = "Onboarding in progress"
                    element.backgroundColor = 'lightgreen'
                })
                .catch(error => {
                    element.textContent = "Onboarding Failed: " + error
                    element.style.backgroundColor = 'red'
                });
        }

        window.offboardSelectedParachains = (element) => {
            paraInputCheckboxes = document.querySelectorAll('input[name="para_id"]');
            selectedParaIds =  Array.from(paraInputCheckboxes).filter(input => input.checked).map(input => input.value);
            element.disabled = true
            console.log(`/api/parachains/offboard?${selectedParaIds.map(para_id => "para_id=" + para_id).join("&")}&force=${document.getElementById("forceQueueAction").checked}`)
            fetch(`/api/parachains/offboard?${selectedParaIds.map(para_id => "para_id=" + para_id).join("&")}&force=${document.getElementById("forceQueueAction").checked}`, {method: "POST"})
                .then(() => {
                    element.textContent = "Offboarding in progress"
                    element.backgroundColor = 'lightgreen'
                })
                .catch(error => {
                    element.textContent = "Offboarding Failed: " + error
                    element.style.backgroundColor = 'red'
                });
        }
    });
</script>
</body>
</html>
