name: Run tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-20.04
    container:
      image: python:3.11
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
    env:
      TESTCONTAINERS_HOST_OVERRIDE: "host.docker.internal"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.3.1
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Run tests
        run : |
          pip install docker-compose
          poetry install --no-interaction --no-ansi
          docker-compose version
          poetry run python -m pytest
